article(class="overviews")

    header(class="overviews__header")
        h2 Overview - Today

    each overview in overviews
        section(class="overviews__overview")

            p(class="overviews__text")= `${overview.text}`
            div(class="overviews__social-icon")
                img(src=`${overview.socialNetworkIcon}`, alt=`${overview.socialNetworkIcon} icon`)

            p(class="overviews__views")= `${overview.views}`

            //- Refactorizar
            if overview.arrow
                p(class="overviews__percentage")

                    span(class="arrow")
                        img(src= `${urlSvg}icon-up.svg`, alt="icon svg")

                    span(class="overviews__percentage  overviews__percentage--green")= `${overview.percentage}`
            else
                p(class="overviews__percentage")

                    span(class="arrow")
                        img(src=`${urlSvg}icon-down.svg`, alt="icon svg")

                    span(class="overviews__percentage overviews__percentage--red")= `${overview.percentage}`