article(class="overviews")

    header(class="overviews__header")
        h2 Overview - Today

    each overview in overviews
        section(class="overviews__overview")

            p(class="overviews__text")= `${overview.text}`

            img(src=`${overview.socialNetworkIcon}`)

            p(class="overviews__views")= `${overview.views}`

            //- Refactorizar
            if overview.arrow
                p(class="overviews__percentage overview__percentage--green")

                    span(class="overviews__arrow")
                        +icon('arrow', `${urlSvg}icon-up.svg`)

                    span(class="overviews__percentage")= `${overview.percentage}`
            else
                p(class="overviews__percentage overview__percentage--red")

                    span(class="overviews__arrow")
                        +icon('arrow', `${urlSvg}icon-down.svg`)

                    span(class="overviews__percentage")= `${overview.percentage}`