div(class="profiles")

    each profile in profiles
        section(class=`profiles__profile profiles__profile--${profile.socialNetwork}`)

            p(class="profiles__nickname")

                span
                    img(src= `${profile.socialNetworkIcon}`, alt=`${profile.socialNetworkIcon} icon`)

                span(class="profiles__name")= `${profile.nickname}`

            p(class="profiles__followers")
                span(class="profiles__followers--number")= `${profile.followers}`
                span(class="profiles__followers--text") followers

            //- Refactorizar
            if profile.arrow
                p(class="profiles__today profiles__today--green")

                    span(class="arrow")
                        img(src= `${urlSvg}icon-up.svg`, alt="icon svg")

                    span= `${profile.today} Today`
            else
                p(class="profiles__today profiles__today--red")

                    span(class="arrow")
                        img(src=`${urlSvg}icon-down.svg`, alt="icon svg")
                        
                    span= `${profile.today} Today`